---
layout: single
---
<div id="splashHeaderContent" class="splashHeaderContent">
  <div id="homePanel" class="panel homepanel">
    <div class="heroContainer pageSpacing">
      <div class="intro">
        {% if page.latest %}
          <img class="pictogramHero" src="{{ site.url }}{{ site.baseurl }}/images/ACD_Icon.svg" />
        {% endif %}
        <h1 class="hero small">
          Welcome to IBM® Waston Annotator for Clinical Data (ACD) <a onclick="toggleDropdown('open');" href="#" aria-label="Change Version"
            tabindex="0" class="versionPill">{{ page.collection }}</a> 
        </h1>
        <h1 class="hero">
          Documentation
        </h1>

        {% if page.latest %}
          <p class="esIntro">IBM® Watson Annotator for Clinical Data is an AI-powered service on IBM Cloud that delivers meaningful insights from unstructured data, purpose-built for healthcare and life sciences domains. Annotator for Clinical Data extracts key clinical concepts from natural language text, such as conditions, medications, allergies, and procedures. These features are enriched with deep contextual insights, along with values for key clinical attributes, in order to provide a more complete view of the data at hand. Potential data sources include a variety of healthcare and life sciences sources, such as clinical notes, discharge summaries, clinical trial protocols, and literature data.</p>

          {% if page.latest %}
            {%- assign collectionURL = "" -%}
          {% else %}
            {% if page.mastheadNavItem == "Documentation" %}
              {%- assign collectionURL = page.collection -%}
            {% endif %}
          {% endif %}
        {% endif %}

      </div>
    </div>
    {% if page.latest %}
<!--      {% include latestFeaturesHero.html %}
    {% endif %}
  </div>
  <div id="remotePanel" class="panel remotePanel pageSpacing">
  
  </div> -->
  <div class='loading'> 
    <p class='loadingText'>
      Loading...
    </p>
  </div>
</div>

{% include splashContent.html fromFeatureHero=true %}